# Loan Lending Decision Tree

Every year millions and millions of dollar are lend as loans, either to companies or individuals. Since, such a huge amount of money in involved in this bussiness,"Whether to lend money or not?" is a million dollar question. There are high chances of mistakes and the penalties for them are even higher.

In answering the above million dollar question, a lot of analytical work is to be done. And a bad decision can have a catastrophic effect. To help you out, Machine Learning is at your rescue yet again.

Instead of making decision based on your experience to make decision, let the data speak for itself.

### Importing libraries

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
%matplotlib notebook

### Loading the dataset

In [2]:
data = pd.read_csv('Datasets/PreProcessedHalf.csv')
data = data.drop(data.columns[[0,1]], axis=1)
data.head()

,id,member_id,loan_amnt,term,int_rate,installment,sub_grade,home_ownership,verification_status,lend?,...,zip_code,addr_state,dti,revol_bal,out_prncp,total_pymnt,policy_code,application_type,url,purpose
0,486488,620002,20000,36,15.33,696.57,D3,RENT,Not Verified,does not meet the credit policy,...,70,NJ,17.21,38578,0.00,24899.24000,1,INDIVIDUAL,https://www.lendingclub.com/browse/loanDetail....,debt_consolidation
1,1485864,1744823,10000,36,13.11,337.47,B4,RENT,Verified,will pay,...,641,MO,27.15,12675,0.00,12148.01044,1,INDIVIDUAL,https://www.lendingclub.com/browse/loanDetail....,debt_consolidation
2,1196973,1437973,20400,36,13.67,693.96,B5,MORTGAGE,Source Verified,will pay,...,369,AL,14.76,9949,0.00,24865.79138,1,INDIVIDUAL,https://www.lendingclub.com/browse/loanDetail....,debt_consolidation
3,43589986,46616724,6050,36,17.57,217.42,D4,OWN,Verified,will not pay,...,293,SC,29.34,6793,5386.67,1081.19000,1,INDIVIDUAL,https://www.lendingclub.com/browse/loanDetail....,debt_consolidation
4,44955996,48033748,4000,36,6.68,122.93,A3,RENT,Not Verified,will pay,...,977,OR,13.39,1508,0.00,4181.91000,1,INDIVIDUAL,https://www.lendingclub.com/browse/loanDetail....,debt_consolidation

In [3]:
data.shape

(67830, 21)

In [4]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'term', 'int_rate', 'installment',
       'sub_grade', 'home_ownership', 'verification_status', 'lend?',
       'pymnt_plan', 'zip_code', 'addr_state', 'dti', 'revol_bal', 'out_prncp',
       'total_pymnt', 'policy_code', 'application_type', 'url', 'purpose'],
      dtype='object')

### Preparing feature vectors and labels

In [5]:
# data_copy = data.copy()
X = data.drop(['lend?', 'id', 'member_id', 'url'],axis =1)
Y = data['lend?']

In [6]:
Y.unique()

array(['does not meet the credit policy', 'will pay', 'will not pay',
       'will delay payment by 2-3 month', 'will delay payment by a month'], dtype=object)

In [7]:
data1=pd.get_dummies(X,drop_first = True)
data1.head()

,loan_amnt,term,int_rate,installment,zip_code,dti,revol_bal,out_prncp,total_pymnt,policy_code,...,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,20000,36,15.33,696.57,70,17.21,38578,0.00,24899.24000,1,...,0,0,0,0,0,0,0,0,0,0
1,10000,36,13.11,337.47,641,27.15,12675,0.00,12148.01044,1,...,0,0,0,0,0,0,0,0,0,0
2,20400,36,13.67,693.96,369,14.76,9949,0.00,24865.79138,1,...,0,0,0,0,0,0,0,0,0,0
3,6050,36,17.57,217.42,293,29.34,6793,5386.67,1081.19000,1,...,0,0,0,0,0,0,0,0,0,0
4,4000,36,6.68,122.93,977,13.39,1508,0.00,4181.91000,1,...,0,0,0,0,0,0,0,0,0,0

### Spliting train and test set

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(data1, Y, test_size=0.3, random_state=42)
# X2 = PCA(114).fit_transform(X_test)
# X2[:,5]

In [9]:
print(X_test.shape)
print(Y_test.shape)

(20349, 114)
(20349,)

### Training the machine learning model

In [22]:
clf = tree.DecisionTreeClassifier(max_depth=3)

In [23]:
clf= clf.fit(X_train, Y_train)

In [13]:
import graphviz

In [14]:
dot_data = tree.export_graphviz(clf, out_file=None, 
                         feature_names=data1.columns,  
                         class_names=Y.unique(),  
                         filled=True, rounded=True,  
                         special_characters=True)
graph = graphviz.Source(dot_data)  
graph.render('dt')

'dt.pdf'

In [24]:
y_pred = clf.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
print(accuracy_score(Y_test, y_pred))

0.97213622291

In [28]:
data.head(1)

,id,member_id,loan_amnt,term,int_rate,installment,sub_grade,home_ownership,verification_status,lend?,...,zip_code,addr_state,dti,revol_bal,out_prncp,total_pymnt,policy_code,application_type,url,purpose
0,486488,620002,20000,36,15.33,696.57,D3,RENT,Not Verified,does not meet the credit policy,...,70,NJ,17.21,38578,0.0,24899.24,1,INDIVIDUAL,https://www.lendingclub.com/browse/loanDetail....,debt_consolidation